// ======================================================
// APP COLORS SCHEME
// ======================================================
$primary-color: #36436F;
$secondary-color: #24282B;
$terciary-color: #B6000F;

// ======================================================
// FONT COLOR
// ======================================================
$font-color: #000000;
$font-color-alternative: #FFFFFF;
$font-color-rgba: rgba(0, 0, 0, 0.725);

// ======================================================
// BACKGROUND COLOR
// ======================================================
$backgroundColor: #F2F2F2;
$backgroundColor-component-header: #FFFFFF;

// ======================================================
// BOX SHADOW
// ======================================================
$boxShadow: rgba(53, 50, 50, 0.532);