
$primary-color: #36436F;
$secondary-color: #24282B;
$terciary-color: #B6000F;

$font-color: #000000;
$font-color-alternative: #FFFFFF;

$backgroundColor: #F2F2F2;
$backgroundColor-component-header: #FFFFFF;

$boxShadow: rgba(53, 50, 50, 0.532);