// ======================================================
// MARGIN
// ======================================================
$layout-margin: .8em 5%;

// ======================================================
// PADDING
// ======================================================
$layout-padding-small: 1.2em;
$layout-padding-medium: 1.5em;
$layout-padding-big: 2em;

// ======================================================
// BORDER
// ======================================================
$borderRadius-appPattern: 6px;
$borderRadius-rounded: 100px;