@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400;1,600;1,700&display=swap');

// ======================================================
// FONT SIZE
// ======================================================

$fontSize-tiny: .6rem;
$fontSize-small: 1.2rem;
$fontSize-medium: 1.8rem;
$fontSize-big: 2.4rem;
$fontSize-extraBig: 3rem;

// ======================================================
// FONT WEIGHT
// ======================================================
$fontWeight-thin: 200;
$fontWeight-regular: 400;
$fontWeight-semiBold: 600;
$fontWeight-bold: 700;

// ======================================================
// FONT WEIGHT
// ======================================================

$font-family: 'Poppins', sans-serif;
