@use '../../scss/partials/colors' as color;
@use '../../scss/partials/typography' as typography;

button {
    padding: 12px;
    min-width: 8vw;

    border: none;
    border-radius: 100px;

    color: color.$font-color-alternative;
    background-color: color.$terciary-color;
    box-shadow: 0px 4px 8px color.$boxShadow;

    font-size: typography.$fontSize-small;

    cursor: pointer;
    transition: 400ms ease-in-out;

    &:hover, :focus {
        opacity: 0.8;
    }
}