@use '../../scss/partials/colors' as color;
@use '../../scss/partials/layout' as layout;
@use '../../scss/partials/typography' as typography;

.navbar {
    margin-top: 4em;
    background-color: color.$backgroundColor-component-header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.2em;
    border-radius: layout.$borderRadius-appPattern;

    &__user-icons {
        list-style: none;

        display: flex;
        align-items: center;
        gap: layout.$layout-padding-small;


        .icon-button {
            background-color: transparent;
            border: none;

            cursor: pointer;
        }
    }
}